body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Светло серый цвет фона */
  color: #333; /* Контрастный текст */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Светло серый цвет для header */
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.create-theme-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px; /* Скругленные края кнопки */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-theme-btn:hover {
  background-color: #ddd; /* Цвет кнопки при наведении */
  color: #000;
}

.post {
  background-color: #e0e0e0; /* Светло серый цвет фона поста */
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  margin-bottom: 20px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.post-comment-btn,
.post-delete-btn,
.post-edit-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px; /* Скругленные края кнопки */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.post-comment-btn:hover,
.post-delete-btn:hover,
.post-edit-btn:hover {
  background-color: #ddd; /* Цвет кнопки при наведении */
  color: #000;
}

.comments {
  margin-top: 20px;
  padding-left: 20px; /* Отступ для выделения секции комментариев */
  border-left: 2px solid #ccc;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul {
  list-style: none;
}
